<section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
  <div class="mdl-card mdl-cell mdl-cell--12-col mdl-container">
    
    <h4>{{ vm.page.title }}</h4>
    
    <div class="mdl-grid">
      <div class="mdl-cell mdl-cell--12-col">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <input class="mdl-textfield__input" type="text" ng-model="filesFilter.xmlFileName" id="filter-rows">
          <label class="mdl-textfield__label" for="filter-rows">Filter...</label>
        </div>
      </div>
      <div class="mdl-cell mdl-cell--12-col">
        
        <table class="mdl-data-table mdl-data-table__full mdl-js-data-table mdl-shadow--2dp">
          <thead>
            <tr>
              <th ng-click="doSort('xmlFileDate')" class="mdl-data-table__cell--non-numeric">Date</th>
              <th ng-click="doSort('xmlFileName')" class="mdl-data-table__cell--non-numeric">Filename</th>
              <th ng-click="doSort('xmlFileSequence')">Sequence</th>
              <th ng-click="doSort('xmlFileDownloaded')" class="mdl-data-table__cell--non-numeric">Downloaded</th>
            </tr>
          </thead>
          <tbody>
            <tr dir-paginate="f in vm.xmlfiles | filter:filesFilter | orderBy:sortBy:reverse | itemsPerPage: vm.appSettings.table.itemsPerPage">
              <td class="mdl-data-table__cell--non-numeric">{{ f.xmlFileDate }}</td>
              <td class="mdl-data-table__cell--non-numeric">{{ f.xmlFileName }}</td>
              <td>{{ f.xmlFileSequence }}</td>
              <td class="mdl-data-table__cell--non-numeric mdl-data-table__cell-centered"><span ng-bind-html="f.xmlFileDownloaded | true_false_icon"></span></td>
            </tr>
          </tbody>
        </table>
        
        <div class="mdl-grid">
          <div class="mdl-cell mdl-cell--12-col">
            <dir-pagination-controls></dir-pagination-controls>
            <small class="pagination__count">Record count: {{ vm.xmlfiles.length }}</small>
          </div>
        </div>
        
    </div>
  </div>
</section>
<footer><small>Version: {{ vm.appSettings.version }}</small></footer>